:root {
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-image: url(../img/bg.webp);
    background-repeat: no-repeat;
    background-size: cover;
}
.zamestnanci {
    display: flex;
    overflow-x: scroll;
    flex-wrap: wrap;
    justify-content:left;
    width: 100%;
}
.karta {
    margin: 6em 1em 1em 1em;
    min-width: 280px;
    max-width: 320px;
    box-shadow: 10px 2px 10px grey;
    background-color: white;
    padding: 1em;
}
.karta__zahlavi {
    width: 60%;
    aspect-ratio: 1/1;
    overflow: hidden;
    border: 2px solid white;
    border-radius: 100%;
    margin: calc(-30% - 1em) auto 0 auto;
    box-shadow: 0 0 4px grey;
}
.obrazek-responzivni {
    width: 100%;
}
.karta__telo {
    padding: 0.5em 0;
}
.karta__telo-radek {
    padding: 0.5em 0;
}
.karta__jmeno {
    font-weight: 800;
    font-size: 1.1em;
    border-bottom: 1px solid;
    padding: 0.5em 0;
    margin-bottom: 0.5em;
}
.ikona {
    font-family: icomoon;
    font-size: 2em;
}
.cervena {
    color: rgb(194, 67, 67);
}